torch!=*
langchain_community
langchain_core
langchain_google_genai
langchain_huggingface
langchain_pinecone
protobuf
langchain-google-genai
langchain-huggingface
gunicorn
Flask
Flask-Cors
